.git
.gitignore
.DS_Store
node_modules
npm-debug.log
.env
.env.local
.env.*.local
dist-backend
dist
web/dist
.yarn
.next
*.log
.cache
.venv
venv/
.idea
.vscode
*.swp
*.swo
*~
.nvmrc
pnpm-lock.yaml
yarn.lock
