.underwaterCausticsBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.underwaterCausticsBackground canvas {
  display: block;
  width: 100%;
  height: 100%;
}
